nav {
    display: flex;
    justify-content: space-between;
    min-height: 8vh;
    width: 100%;
    align-items: center;
    padding: 0 5rem
   
}

nav ul {
    list-style: none;
    overflow: hidden;
}

nav a {
    text-decoration: none;
}

.logo {
    color: #291ebf;
    font-size: 25px;
}

.navlinks {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 20px;
}

.navlinks li {
    letter-spacing: 1px;
    font-weight: bold;
    padding: 0px 20px

}

.link a {
    color: #000000
}

.link a:hover {
    color: #291ebf
}

nav .nav-btn {
    cursor: pointer;
    display: none;
    color: black;
    padding: 5px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.8rem;
    
}

@media only screen and (max-width: 1024px) {
    nav .nav-btn {
        display: block; 
    }

    nav .navlinks {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
        transition: 0.7s ease;
        transform: translateY(-100vh);
        background: #ffffff;
    }

    nav .responsive_nav {
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}




